In [1]:
import pandas as pd
import os
import matplotlib.colors as mcolors
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
BUCKET_URL="https://d4gc2024.s3.eu-central-1.amazonaws.com/data"

filenames=["foodsavingleuven/places.csv",
           "foodsavingleuven/members.csv"	,
           "foodsavingleuven/activities.csv",
           "foodsavingleuven/activities_participants.csv",
            "foodsavingleuven/feedback.csv"]

In [3]:
places_df=pd.read_csv(os.path.join(BUCKET_URL,filenames[0]),index_col=0)
places_df.head(20)

,name,placeid,meeting_point,instructions,store_log,address,latitude,longitude,status
0,Spar,854,Outside the shop,"You can expect anything from this shop, but us...",[2021/11] Ali and Kranti went there and spoke ...,"Brusselsestraat 124, Leuven, Flemish Brabant, ...",50.880741,4.694760,active
1,Shop & Go Delhaize,2766,Outside the shop,"You can expect anything from this shop, but us...",It was very easy to talk to the owner! He is r...,"Diestsestraat 228, Leuven, Flemish Brabant, 30...",50.881850,4.713093,active
2,Exotic World,2642,In front of the store - contact the lady at th...,Usually packaged items past their best-before ...,NaN,"Brusselsestraat 44, Leuven, Flemish Brabant, 3...",50.881096,4.690018,active
3,Delhaize Leuven,858,Outside the shop,"Mainly bread and pastries, can be a lot, so be...",[17/12/2022] Pickups Restarted\nThe pickup tim...,"Brusselsestraat 31, Leuven, Flemish Brabant, 3...",50.879549,4.698835,active
4,Carrefour Express,760,Outside the shop,"You can expect anything from this shop, but us...","During corona, the shop closed. and wasn't ope...","Rector de Somerplein 12, Leuven, Flemish Braba...",50.879021,4.703237,active
5,Carrefour Express,843,Outside the shop,Mainly bread and pastries.\nRedistribution: we...,[2021/11] Ali and Kranti visited the shops. Th...,"Brusselsestraat 60, Leuven, Flemish Brabant, 3...",50.880237,4.697321,active
6,Mediterranee Markt,2759,Outside the garage door next to the shop,"Mainly fruits and vegetables, can be a lot, so...",[19/08/2023] Pickup closed. They now have an a...,"Maria-Theresiastraat 52, Leuven, Flemish Braba...",50.877826,4.711449,inactive
7,Dr Blues,2091,NaN,NaN,Beers from 'dr blues' every now and then.,"Redingenhof, Janseniushof, Leuven, Flemish Bra...",50.875172,4.697071,active
8,Miscellaneous,2593,NaN,NaN,This is an annual activity. \nThis is an invit...,"Parijsstraat 70, Leuven, Flemish Brabant, 3000...",50.877325,4.698165,inactive
10,Hal 5,1947,NaN,NaN,"Update: Closed.\nDrop-off point, next to HET P...","Locomotievenstraat, Leuven, Flemish Brabant, 3...",50.883216,4.721954,active
11,Panos,1480,Wait outside the entrance for others (signed u...,"Mainly bread, sandwiches and pastries.\nRedist...",[20/08/2023] Store discontinued. The reason fo...,"Brusselsestraat 4, Leuven, Flemish Brabant, 30...",50.879493,4.700115,active
12,Miscellaneous,2210,In front of the store!,"Mainly bread and meat, some fruit and vegetabl...",[June 2023] The cooperation has been discontin...,"Benedenplein, Blauwput, Kessel-Lo, Leuven, Fle...",50.882607,4.717408,inactive
13,OHL stadium,2188,NaN,NaN,OHL stadium makes events and contacts us when ...,NaN,50.867904,4.693608,active
14,Supermarket Asia & More,1178,in front of the store's entrance - Contact th...,"A bit of everything, always different.\nRedist...",NaN,"Aarschotsesteenweg 92, Leuven, Flemish Brabant...",50.896318,4.708011,active
15,Circle,871,in front of the store - contact the lady at t...,Usually packaged items past its best-before da...,NaN,"Brusselsestraat 48, Leuven, Flemish Brabant, 3...",50.880103,4.697756,active
17,Lidl,1417,NaN,NaN,[26/11/2021] Julia and Kranti spoke to the Lid...,"Engels Plein 26, Leuven, Flemish Brabant, 3000...",NaN,NaN,inactive
18,Mini Market,950,NaN,NaN,[10/03/2021] Seems to be permanently closed.,"Bondgenotenlaan 104, Leuven, Flemish Brabant, ...",50.880473,4.711049,inactive
19,Miscellaneous,885,Meet up place is in front of the church,Pick up food (mostly vegetables) from the stan...,"put on not cooperating for the moment, see wal...",NaN,50.864478,4.693981,inactive

In [4]:
activities_df=pd.read_csv(os.path.join(BUCKET_URL,filenames[2]),index_col=0)
activities_df.head()

,activity_id,date_start,date_end,placeid,description,is_done,max_participants,feedback_due
0,481609,2024-11-16T18:25:00+01:00,2024-11-16T18:55:00+01:00,854,Meeting point: Outside the shop Closest HUB -...,True,3.0,2024-12-16T18:55:00+01:00
1,481581,2024-11-16T17:55:00+01:00,2024-11-16T18:25:00+01:00,858,Meeting point: just inside the shop (read full...,True,5.0,2024-12-16T18:25:00+01:00
2,481330,2024-11-15T20:15:00+01:00,2024-11-15T20:45:00+01:00,760,Meeting point: Outside the shop Closest HUB ...,True,2.0,2024-12-15T20:45:00+01:00
3,479076,2024-11-15T19:55:00+01:00,2024-11-15T20:25:00+01:00,2766,- Closest HUB - AGORA learning centre (for bre...,True,1.0,2024-12-15T20:25:00+01:00
4,479019,2024-11-15T19:00:00+01:00,2024-11-15T19:30:00+01:00,2642,Meeting point: Outside the shop Closest HUB ...,True,3.0,2024-12-15T19:30:00+01:00

In [5]:
activities_participants_df=pd.read_csv(os.path.join(BUCKET_URL,filenames[3]),index_col=0)
activities_participants_df.head()

   userid  activity_id                    join_date
0   12899       481609  2024-11-15T17:14:26.242280Z
1    6108       481609  2024-11-15T20:34:36.798360Z
2   16248       481609  2024-11-15T20:36:21.153325Z
3   17933       481581  2024-11-12T12:34:58.524724Z
4   16214       481581  2024-11-15T08:53:30.830372Z

In [6]:
feedback_df=pd.read_csv(os.path.join(BUCKET_URL,filenames[4]),index_col=0)
feedback_df.head()

,activity_id,join_date,userid,weight,feedback
0,481609,2024-11-16T19:37:03.575551Z,16248,0.0,NaN
1,481581,2024-11-16T18:39:25.724286Z,17933,0.1,NaN
2,481330,2024-11-16T15:05:40.050020Z,2769,1.0,NaN
3,479076,2024-11-15T19:48:08.385199Z,15945,6.0,the guy working there was super kind: got 6 re...
4,479019,2024-11-16T14:44:53.508255Z,15907,12.0,canned jackfruit \n seasoning for meat \n mayo...

In [7]:
(activities_df
.merge(places_df, on="placeid", how="right")
).head()

,activity_id,date_start,date_end,placeid,description,is_done,max_participants,feedback_due,name,meeting_point,instructions,store_log,address,latitude,longitude,status
0,481609,2024-11-16T18:25:00+01:00,2024-11-16T18:55:00+01:00,854,Meeting point: Outside the shop Closest HUB -...,True,3.0,2024-12-16T18:55:00+01:00,Spar,Outside the shop,"You can expect anything from this shop, but us...",[2021/11] Ali and Kranti went there and spoke ...,"Brusselsestraat 124, Leuven, Flemish Brabant, ...",50.880741,4.69476,active
1,479892,2024-11-11T19:50:00+01:00,2024-11-11T20:20:00+01:00,854,Meeting point: Outside the shop Closest HUB -...,True,3.0,2024-12-11T20:20:00+01:00,Spar,Outside the shop,"You can expect anything from this shop, but us...",[2021/11] Ali and Kranti went there and spoke ...,"Brusselsestraat 124, Leuven, Flemish Brabant, ...",50.880741,4.69476,active
2,479512,2024-11-10T12:25:00+01:00,2024-11-10T12:55:00+01:00,854,Meeting point: Outside the shop Closest HUB -...,True,2.0,2024-12-10T12:55:00+01:00,Spar,Outside the shop,"You can expect anything from this shop, but us...",[2021/11] Ali and Kranti went there and spoke ...,"Brusselsestraat 124, Leuven, Flemish Brabant, ...",50.880741,4.69476,active
3,479092,2024-11-08T19:50:00+01:00,2024-11-08T20:20:00+01:00,854,Meeting point: Outside the shop Closest HUB -...,True,3.0,2024-12-08T20:20:00+01:00,Spar,Outside the shop,"You can expect anything from this shop, but us...",[2021/11] Ali and Kranti went there and spoke ...,"Brusselsestraat 124, Leuven, Flemish Brabant, ...",50.880741,4.69476,active
4,478725,2024-11-07T19:50:00+01:00,2024-11-07T20:20:00+01:00,854,Meeting point: Outside the shop Closest HUB -...,True,3.0,2024-12-07T20:20:00+01:00,Spar,Outside the shop,"You can expect anything from this shop, but us...",[2021/11] Ali and Kranti went there and spoke ...,"Brusselsestraat 124, Leuven, Flemish Brabant, ...",50.880741,4.69476,active

In [8]:
df = (activities_df
.merge(places_df, on="placeid", how="left")
)
print(len(df))
df.head()

1419

,activity_id,date_start,date_end,placeid,description,is_done,max_participants,feedback_due,name,meeting_point,instructions,store_log,address,latitude,longitude,status
0,481609,2024-11-16T18:25:00+01:00,2024-11-16T18:55:00+01:00,854,Meeting point: Outside the shop Closest HUB -...,True,3.0,2024-12-16T18:55:00+01:00,Spar,Outside the shop,"You can expect anything from this shop, but us...",[2021/11] Ali and Kranti went there and spoke ...,"Brusselsestraat 124, Leuven, Flemish Brabant, ...",50.880741,4.694760,active
1,481581,2024-11-16T17:55:00+01:00,2024-11-16T18:25:00+01:00,858,Meeting point: just inside the shop (read full...,True,5.0,2024-12-16T18:25:00+01:00,Delhaize Leuven,Outside the shop,"Mainly bread and pastries, can be a lot, so be...",[17/12/2022] Pickups Restarted\nThe pickup tim...,"Brusselsestraat 31, Leuven, Flemish Brabant, 3...",50.879549,4.698835,active
2,481330,2024-11-15T20:15:00+01:00,2024-11-15T20:45:00+01:00,760,Meeting point: Outside the shop Closest HUB ...,True,2.0,2024-12-15T20:45:00+01:00,Carrefour Express,Outside the shop,"You can expect anything from this shop, but us...","During corona, the shop closed. and wasn't ope...","Rector de Somerplein 12, Leuven, Flemish Braba...",50.879021,4.703237,active
3,479076,2024-11-15T19:55:00+01:00,2024-11-15T20:25:00+01:00,2766,- Closest HUB - AGORA learning centre (for bre...,True,1.0,2024-12-15T20:25:00+01:00,Shop & Go Delhaize,Outside the shop,"You can expect anything from this shop, but us...",It was very easy to talk to the owner! He is r...,"Diestsestraat 228, Leuven, Flemish Brabant, 30...",50.881850,4.713093,active
4,479019,2024-11-15T19:00:00+01:00,2024-11-15T19:30:00+01:00,2642,Meeting point: Outside the shop Closest HUB ...,True,3.0,2024-12-15T19:30:00+01:00,Exotic World,In front of the store - contact the lady at th...,Usually packaged items past their best-before ...,NaN,"Brusselsestraat 44, Leuven, Flemish Brabant, 3...",50.881096,4.690018,active

In [9]:
places_df[['placeid', 'name']]

    placeid                      name
0       854                      Spar
1      2766        Shop & Go Delhaize
2      2642              Exotic World
3       858           Delhaize Leuven
4       760         Carrefour Express
5       843         Carrefour Express
6      2759        Mediterranee Markt
7      2091                  Dr Blues
8      2593            Miscellaneous
10     1947                     Hal 5
11     1480                     Panos
12     2210            Miscellaneous
13     2188               OHL stadium
14     1178  Supermarket Asia & More
15      871                    Circle
17     1417                      Lidl
18      950               Mini Market
19      885            Miscellaneous

In [11]:
# places_df.merge(output_df, on='placeid', how="left").set_index('placeid')['name']

In [22]:
places_df.head(20)

,name,placeid,meeting_point,instructions,store_log,address,latitude,longitude,status
0,Spar,854,Outside the shop,"You can expect anything from this shop, but us...",[2021/11] Ali and Kranti went there and spoke ...,"Brusselsestraat 124, Leuven, Flemish Brabant, ...",50.880741,4.694760,active
1,Shop & Go Delhaize,2766,Outside the shop,"You can expect anything from this shop, but us...",It was very easy to talk to the owner! He is r...,"Diestsestraat 228, Leuven, Flemish Brabant, 30...",50.881850,4.713093,active
2,Exotic World,2642,In front of the store - contact the lady at th...,Usually packaged items past their best-before ...,NaN,"Brusselsestraat 44, Leuven, Flemish Brabant, 3...",50.881096,4.690018,active
3,Delhaize Leuven,858,Outside the shop,"Mainly bread and pastries, can be a lot, so be...",[17/12/2022] Pickups Restarted\nThe pickup tim...,"Brusselsestraat 31, Leuven, Flemish Brabant, 3...",50.879549,4.698835,active
4,Carrefour Express,760,Outside the shop,"You can expect anything from this shop, but us...","During corona, the shop closed. and wasn't ope...","Rector de Somerplein 12, Leuven, Flemish Braba...",50.879021,4.703237,active
5,Carrefour Express,843,Outside the shop,Mainly bread and pastries.\nRedistribution: we...,[2021/11] Ali and Kranti visited the shops. Th...,"Brusselsestraat 60, Leuven, Flemish Brabant, 3...",50.880237,4.697321,active
6,Mediterranee Markt,2759,Outside the garage door next to the shop,"Mainly fruits and vegetables, can be a lot, so...",[19/08/2023] Pickup closed. They now have an a...,"Maria-Theresiastraat 52, Leuven, Flemish Braba...",50.877826,4.711449,inactive
7,Dr Blues,2091,NaN,NaN,Beers from 'dr blues' every now and then.,"Redingenhof, Janseniushof, Leuven, Flemish Bra...",50.875172,4.697071,active
8,Miscellaneous,2593,NaN,NaN,This is an annual activity. \nThis is an invit...,"Parijsstraat 70, Leuven, Flemish Brabant, 3000...",50.877325,4.698165,inactive
10,Hal 5,1947,NaN,NaN,"Update: Closed.\nDrop-off point, next to HET P...","Locomotievenstraat, Leuven, Flemish Brabant, 3...",50.883216,4.721954,active
11,Panos,1480,Wait outside the entrance for others (signed u...,"Mainly bread, sandwiches and pastries.\nRedist...",[20/08/2023] Store discontinued. The reason fo...,"Brusselsestraat 4, Leuven, Flemish Brabant, 30...",50.879493,4.700115,active
12,Miscellaneous,2210,In front of the store!,"Mainly bread and meat, some fruit and vegetabl...",[June 2023] The cooperation has been discontin...,"Benedenplein, Blauwput, Kessel-Lo, Leuven, Fle...",50.882607,4.717408,inactive
13,OHL stadium,2188,NaN,NaN,OHL stadium makes events and contacts us when ...,NaN,50.867904,4.693608,active
14,Supermarket Asia & More,1178,in front of the store's entrance - Contact th...,"A bit of everything, always different.\nRedist...",NaN,"Aarschotsesteenweg 92, Leuven, Flemish Brabant...",50.896318,4.708011,active
15,Circle,871,in front of the store - contact the lady at t...,Usually packaged items past its best-before da...,NaN,"Brusselsestraat 48, Leuven, Flemish Brabant, 3...",50.880103,4.697756,active
17,Lidl,1417,NaN,NaN,[26/11/2021] Julia and Kranti spoke to the Lid...,"Engels Plein 26, Leuven, Flemish Brabant, 3000...",NaN,NaN,inactive
18,Mini Market,950,NaN,NaN,[10/03/2021] Seems to be permanently closed.,"Bondgenotenlaan 104, Leuven, Flemish Brabant, ...",50.880473,4.711049,inactive
19,Miscellaneous,885,Meet up place is in front of the church,Pick up food (mostly vegetables) from the stan...,"put on not cooperating for the moment, see wal...",NaN,50.864478,4.693981,inactive

1595

placeid
760      2.194231
761      6.347222
843      0.753061
854      7.614035
858      9.423200
871      2.000000
876      5.801020
885     16.600000
950      0.400000
1178     5.615385
1417     7.375000
1480     3.981481
1947     0.000000
2091    10.000000
2188    10.000000
2210    14.261364
2593     3.000000
2642     4.077143
2759     4.750000
2766     4.826667
Name: weight, dtype: float64

In [32]:
places_df.set_index('placeid')['name'].sort_index()

placeid
760            Carrefour Express
843            Carrefour Express
854                         Spar
858              Delhaize Leuven
871                       Circle
885               Miscellaneous
950                  Mini Market
1178    Supermarket Asia & More
1417                        Lidl
1480                       Panos
1947                       Hal 5
2091                    Dr Blues
2188                 OHL stadium
2210              Miscellaneous
2593              Miscellaneous
2642                Exotic World
2759          Mediterranee Markt
2766          Shop & Go Delhaize
Name: name, dtype: object

In [68]:
len(activities_df)

1419

In [ ]:

def getAmtActivities():
    df = (activities_df
    .merge(places_df, on="placeid", how="left")
    .merge(feedback_df, on="activity_id", how="left")
    )
    print(len(df))
    df.head()

    activity_counts = df['placeid'].value_counts()
    activity_counts.reset_index()
    return activity_counts

In [52]:
def getMeans():
    df = (activities_df
    .merge(places_df, on="placeid", how="left")
    .merge(feedback_df, on="activity_id", how="left")
    )
    print(len(df))
    df.head()

    return df.groupby("placeid")["weight"].mean()

In [58]:
def getNames():
    return places_df.set_index('placeid')['name'].sort_index()

In [57]:
getAmtActivities()

1595

placeid
858     375
760     364
854     285
843      98
876      98
2210     88
2766     75
761      36
2642     35
871      28
1480     27
2759     20
1417     20
1178     13
885      10
950       8
1947      7
2091      5
2593      2
2188      1
Name: count, dtype: int64

In [59]:
getNames()

placeid
760            Carrefour Express
843            Carrefour Express
854                         Spar
858              Delhaize Leuven
871                       Circle
885               Miscellaneous
950                  Mini Market
1178    Supermarket Asia & More
1417                        Lidl
1480                       Panos
1947                       Hal 5
2091                    Dr Blues
2188                 OHL stadium
2210              Miscellaneous
2593              Miscellaneous
2642                Exotic World
2759          Mediterranee Markt
2766          Shop & Go Delhaize
Name: name, dtype: object

In [66]:
len(places_df)

18

In [70]:
name = "placesAverages.csv"
output_df=pd.read_csv(name, index_col=0)
print(len(output_df))


output_df['amt'] = getAmtActivities()
output_df['weight_avg'] = getMeans()
# output_df.head()
output_df['name'] = getNames()
output_df['amt'] = getAmtActivities()
output_df['weight_avg'] = getMeans()
output_df['latitude'] = places_df.set_index('placeid')['latitude'].sort_index()
output_df['longitude'] = places_df.set_index('placeid')['longitude'].sort_index()

# output_df['name'] = output_df.index.map(places_df.set_index('placeid')['name'])
# output_df['latitude'] = places_df.set_index('placeid')['latitude']
# output_df['longitude'] = places_df.set_index('placeid')['longitude']
print(len(output_df))
output_df
output_df.to_csv("placeInfo.csv")

20
1595
1595
1595
1595
20

1595

    placeid     weight
0       760   2.194231
1       761   6.347222
2       843   0.753061
3       854   7.614035
4       858   9.423200
5       871   2.000000
6       876   5.801020
7       885  16.600000
8       950   0.400000
9      1178   5.615385
10     1417   7.375000
11     1480   3.981481
12     1947   0.000000
13     2091  10.000000
14     2188  10.000000
15     2210  14.261364
16     2593   3.000000
17     2642   4.077143
18     2759   4.750000
19     2766   4.826667

In [14]:


output_df['amt'] = getAmtActivities()
output_df['weight_avg'] = getMeans()

# output_df['name'] = output_df.merge(places_df['placeid'], on='placeid', how="left")
output_df['name'] = places_df.merge(output_df, on='placeid', how="left").set_index('placeid')['name']
output_df

NameError: name 'getAmtActivities' is not defined

In [ ]:
# Merging multiple DataFrames to combine participant data, member details, and feedback:
(
    activities_participants_df
    # First, merge participant data with member information using the "userid" column
    .merge(members_df, on="userid", how="left")
    # Then, merge the resulting DataFrame with feedback information
    # This merge is based on both "userid" and "activity_id" columns
    .merge(feedback_df, on=["userid", "activity_id"], how="left", suffixes=["_activity", "_feedback"])
).head()

NameError: name 'members_df' is not defined